
body {

    /* width inherit , matlab jo parent ki width , means jo bhi uske parent tag ki width  */ 
    /* taaki body ki width jo total width h wo aa jaye  here jo scree ki hogi wo hi  */
    width: inherit; 
    background-color: black;
    position: relative;
    margin: 0;
}

#ball {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    padding: 0 ;
    
}

.bar {
    height: 10px;
    width: 150px;
    position: fixed;
    background-color: white;
    margin: 0;
    border-radius: 20px 20px; /*top right*/
}

#upper {
    top: 30px; /* top se itna margin */
    left: 550px; /* to keep intial position in between*/
}

#lower {
    top: 95%;
    left: 550px;

}

